.card .card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
b{
    color: #797979;
}
time{
    color: #9b9393;
}
h4{
    color: #797979;
}
label{
    color: #9b9393;
}

// ---add-ticket------
// .modal-dialog {
//     position: fixed;
//     margin: auto;
//     width: 320px;
//     height: 100%;
//     right: 0px;
// }
// .modal-content {
//     height: 100%;
// }


// .modal.right .modal-body {
//     padding: 15px 15px 80px;
// }
// .modal.right.fade .modal-dialog {
//     right: -320px;
//     -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
//        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
//          -o-transition: opacity 0.3s linear, right 0.3s ease-out;
//             transition: opacity 0.3s linear, right 0.3s ease-out;
// }

// .modal.right.fade.in .modal-dialog {
//     right: 0;
// }
// .modal-content {
//     border-radius: 0;
//     border: none;
// }

// .modal-header {
//     border-bottom-color: #EEEEEE;
//     background-color: #FAFAFA;
// }
// body {
// 	background-color: #78909C;
// }
